header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.colorNav {
  color: yellow;
}
